<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Campbell Rehu</title>
    <link rel="stylesheet" href="stylesheet.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Campbell Rehu</a>
      </div>
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/tic-tac-toe">Tic Tac Toe<span class="sr-only">(current)</span></a></li>
          <li ><a href="/next">Next</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container -->
</nav>
