<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Campbell Rehu</title>
    <link rel="stylesheet" href="stylesheet.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <h2>This is the header</h2>
