<% include partials/header %>
  <div class="jumbotron">
    <h1>Welcome to Campbell's Website</h1>
    <p>Use the links above to navigate through the site.</p>
  </div>

  <div class="container">

    <div id="homePageGrid" class="row">
      <div class="col-md-4">
        <div class="well">
          <a href="/tic-tac-toe">
            <img src="tic_img.png" alt="tic-tac-toe-image"/>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <a href="/tic-tac-toe">
            <img src="tic_img.png" alt="tic-tac-toe-image"/>
          </a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well">
          <a href="/tic-tac-toe">
            <img src="tic_img.png" alt="tic-tac-toe-image"/>
          </a>
        </div>
      </div>
    </div>

  </div>
<% include partials/footer %>
