body {
  background-image: url("cork-wallet.png");
}

.container-fluid {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  width: 300px;
  height: 300px;
}

div.col-xs-4 {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.col-xs-4:hover {
  background-color: #30A9DE;
  cursor: pointer;
}

img {
    display: block;
    margin: 7px auto;
    clear:both;
}

#topLeft {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#topMiddle {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#topRight {
  border-bottom: 2px solid black;
}
#middleLeft {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#middleMiddle {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
#middleRight {
  border-bottom: 2px solid black;
}
#bottomLeft {
  border-right: 2px solid black;
}
#bottomMiddle {
  border-right: 2px solid black;
}
